<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
    window.OneSignal = window.OneSignal || [];
    OneSignal.push(function() {
        OneSignal.init({
        appId: "f17bc311-f05b-434a-b916-b2c798195aba",
        });
    });
    </script>


    <title>{% block title %}{% endblock %}</title>
    <style>
        h1 {
          font-size: 70px;
          font-weight: 600;
          background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);

          color: transparent;
          background-clip: text;
          -webkit-background-clip: text;
        }
   </style>
</head>
<body>
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
          <h1 class="display-4">Employee Management Platform</h1>
<br>

    <nav class="navbar navbar-expand-lg navbar-light bg-light ">



        <div class="d-flex mx-auto">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <b>
      <a class="nav-item nav-link active" id="index-link"  href="{{url_for('index')}}">Employee Table <span class="sr-only">(current)</span></a></b>
      <b><a class="nav-item nav-link" id="managers-link"  href="{{url_for('managers')}}">Managers Table</a></b>
     <b> <a class="nav-item nav-link" id="headers-link"  href="{{url_for('headers')}} "> Headres table</a></b>

    </div>
  </div>
            </div>
</nav>
          <p class="lead"></p>
        </div>
    </div>


    

    {% block content %} 

        
    {% endblock content %}









    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>
</body>
</html>